@use '../../styles/utils/spacing-mixins' as *;
@use '../../styles/utils/responsive-mixins' as *;
@use '../../styles/variables/spacing' as *;

.summary-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: $spacing-4;

  height: 70rem;
  width: 100%;

  margin-top: 4rem;

  &__left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: $spacing-4;
  }

  &__right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: $spacing-4;
  }

  &__item {
    &--1 {
    }
    &--2 {
    }
    &--3 {
      grid-row: 2 / 5;
      grid-column: 1 / 3;
    }
    &--4 {
    }
    &--5 {
    }
  }
}
