@use '../../styles/utils/spacing-mixins' as *;
@use '../../styles/utils/responsive-mixins' as *;
@use '../../styles/utils/typography-mixins' as *;
@use '../../styles/variables/spacing' as *;

.card {
  padding: $spacing-4;
  border-radius: $radius-lg;

  &__header {
    display: flex;
  }

  &__title {
    @include heading-6;
  }

  &__icon {
    align-self: center;
    display: block;
    margin-left: auto;
    padding: $spacing-3;
    border-radius: $radius-full;

    // fucking annoying ahh style resets
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
}
