@use '../../styles/utils/spacing-mixins' as *;
@use '../../styles/utils/responsive-mixins' as *;
@use '../../styles/utils/typography-mixins' as *;
@use '../../styles/variables/spacing' as *;

.card {
  padding: $spacing-4;

  &__header {
    display: flex;
  }

  &__title {
    @include heading-6;
  }

  &__icon {
    align-self: center;
    display: block;
    margin-left: auto;
    padding: $spacing-3;
    border-radius: $radius-full;

    border: 1px solid var(--color-border);
  }
}
