@use '../../styles/utils/spacing-mixins' as *;
@use '../../styles/utils/responsive-mixins' as *;
@use '../../styles/utils/typography-mixins' as *;
@use '../../styles/variables/spacing' as *;

.card {
  padding: 1.2rem 2.4rem;
  padding-right: 2rem;
  border-radius: $radius-lg;
  background-color: var(--color-background-secondary);

  &--default,
  &--outlined {
    .card__icon:not(.card__icon--left) {
      background-color: var(--color-background-secondary);

      &:hover {
        background-color: var(--color-background-primary);
      }
    }
  }

  &--outlined {
    border: 1px solid var(--color-border-divider);
  }

  &__header {
    display: flex;
    align-items: center;
    gap: $spacing-2;
  }

  &__title {
    @include heading-6;

    .card__header:has(.card__icons-container:last-child) & {
      margin-right: auto;
    }
  }

  &__icons-container {
    display: flex;
    gap: $spacing-1;

    &:last-child {
      margin-left: auto;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing-1;
    border-radius: $radius-sm;

    transition:
      background-color 0.3s ease,
      color 0.3s ease,
      border-color 0.3s ease;

    cursor: pointer;
    border: none;
    background-color: transparent;

    svg {
      color: var(--color-text-tertiary);
      transition: color 0.3s ease;
    }

    &:hover {
      svg {
        color: var(--color-text-primary);
      }
    }

    &--left {
      cursor: default;

      &:hover {
        background-color: transparent !important;

        svg {
          color: var(--color-text-tertiary);
        }
      }
    }
  }

  &__content {
    height: calc(100% - 4.8rem);
  }
}
