@use '../../styles/utils/spacing-mixins' as *;
@use '../../styles/variables/spacing' as *;
@use '../../styles/variables/typography' as *;

.dropdown {
  position: relative;
  width: 100%;

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &__trigger {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-5 $spacing-5;
    background-color: var(--color-background-secondary);
    border: 1px solid var(--color-border-divider);
    border-radius: $radius-md;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover:not(:disabled) {
      border-color: var(--color-border-primary);
    }

    &:focus {
      outline: none;
      border-color: var(--color-secondary);
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  &__trigger-text {
    color: var(--color-text-primary);
    font-weight: $font-weight-regular;
    font-family: var(--font-family);
  }

  &__trigger-icon {
    color: var(--color-text-tertiary);
    transition: transform 0.2s ease;

    &--rotated {
      transform: rotate(180deg);
    }
  }

  &__content {
    position: absolute;
    top: calc(100% + 0.4rem);
    left: 0;
    right: 0;
    background-color: var(--color-background-secondary);
    border: 1px solid var(--color-border-divider);
    border-radius: $radius-md;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;

    max-height: 30rem;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  &__item {
    padding: $spacing-5 $spacing-3;
    cursor: pointer;
    color: var(--color-text-primary);
    transition: background-color 0.15s ease;
    font-size: $font-size-sm;

    &:hover:not(&--disabled) {
      background-color: var(--color-background-tertiary);
    }

    &--selected {
      background-color: var(--color-background-secondary);
      color: var(--color-secondary);
      font-weight: $font-weight-extrabold;
    }

    &--focused {
      background-color: var(--color-background-tertiary);
    }

    &--disabled {
      color: var(--color-text-disabled);
      cursor: not-allowed;
    }
  }
}
