@use '../variables/spacing' as *;
@use '../variables/typography' as *;
@use '../utils/typography-mixins' as *;

.update-available {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-2;
  background-color: var(--color-background-secondary);
  border-radius: $radius-md;
  transition: background-color 200ms;

  position: relative;

  cursor: pointer;

  -webkit-app-region: no-drag;

  &::after {
    content: 'New update available!';
    width: max-content;
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translateY(-50%) translateX(-90%);
    background-color: var(--color-secondary);
    border-radius: $radius-md;
    pointer-events: none;
    padding: $spacing-2 $spacing-2;
    z-index: 1001;

    transition: transform 300ms cubic-bezier(0.7, 0, 0, 1);
  }

  svg {
    transition: transform 200ms;
  }

  &:hover::after {
    transform: translateY(-50%) translateX(-100%);
  }

  &:hover {
    background-color: var(--color-background-tertiary);

    svg {
      transform: scale(1.1);
    }
  }
}
