@use '../../styles/utils/responsive-mixins' as *;
@use '../../styles/utils/spacing-mixins' as *;
@use '../../styles/variables/spacing' as *;
@use '../../styles/variables/breakpoints' as *;

.main {
  margin-top: $titlebar-height;
  transition: margin-left 300ms ease-in-out;

  &--sidebar-collapsed {
    margin-left: $sidebar-collapsed;
  }

  &--sidebar-expanded {
    margin-left: $sidebar-expanded;
  }
}

.layout {
  @include container($container-xxl);
  min-height: calc(100vh - $titlebar-height);
  padding-top: $spacing-6;
  padding-bottom: $spacing-6;

  @include respond-to(md) {
    padding-top: $spacing-8;
  }

  @include respond-to(lg) {
    padding-top: $spacing-10;
  }
}

// Titlebar styles
.titlebar {
  position: fixed;
  width: 100%;
  height: $titlebar-height;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background-secondary);
  -webkit-app-region: drag;
  transition: background-color 200ms;
  z-index: $z-index-fixed;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding-left: $spacing-4;
  -webkit-app-region: drag;

  svg,
  path {
    fill: var(--color-text-primary);
  }
}

.title {
  display: flex;
  align-items: center;
  gap: $spacing-3;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  &__icon {
    color: var(--color-text-secondary);
  }

  &__label {
    font-size: 1.2rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-text-secondary);
  }
}

.titlebar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

// Controls styles
.controls-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  gap: $spacing-5;
}

.divider {
  width: 1px;
  height: 70%;
  background-color: var(--color-border-divider);
  margin: auto 0;
}

.controls {
  display: flex;
  width: 14rem;
  height: 100%;
  -webkit-app-region: no-drag;
}

.control {
  flex: 1;
  border: none;
  background-color: inherit;
  color: var(--color-text-secondary);
  cursor: pointer;
  transition: background-color 0.2s;

  &--min,
  &--max {
    &:hover {
      background-color: var(--color-surface-hover);
      color: var(--color-text-hover);
    }
  }

  &--close {
    &:hover {
      background-color: var(--color-error);
    }
  }

  -webkit-app-region: no-drag;
}
