@use '../../styles/utils/spacing-mixins' as *;
@use '../../styles/utils/responsive-mixins' as *;
@use '../../styles/utils/typography-mixins' as *;
@use '../../styles/variables/spacing' as *;

@use '../../styles/variables/typography' as *;

.updates {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  height: 70rem;

  gap: 2rem;

  &__details,
  &__actions,
  &__patch-notes {
    border-radius: $radius-md;
  }

  &__container {
    display: grid;
    grid-template-rows: 1fr 1fr;

    gap: 1rem;
  }

  &__patch-notes {
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    padding-left: $spacing-2;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__item-head {
    font-weight: $font-weight-bold;
    color: var(--color-text-tertiary);
    font-size: $font-size-sm;
    margin-bottom: $spacing-1;
  }

  &__item-value {
    font-size: 1.2rem;
  }
}
.releases {
  padding-block: $spacing-4;

  height: 100%;
  &__dropdown {
    margin-bottom: $spacing-4;
  }

  &__versions {
  }

  &__details {
    border-radius: $radius-md;
    height: 55rem;
    padding: $spacing-4;
    overflow-y: auto;
    border: 1px solid var(--color-border-secondary);

    // Hide scrollbar for Chrome, Safari and Opera
    &::-webkit-scrollbar {
      display: none;
    }
    // Hide scrollbar for IE, Edge and Firefox
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    position: relative;
  }

  &__title {
    @include heading-6;
  }

  &__body {
    font-size: $font-size-md;

    h3 {
      font-size: $font-size-2xl;
      margin-bottom: 2px;
    }

    ul,
    ol {
      margin-left: 5rem;
      padding-left: 0.5rem;
    }

    li {
      // margin-bottom: 0.5rem;
    }
  }

  &__external-link {
    position: absolute;
    top: $spacing-4;
    right: $spacing-4;
    color: var(--color-text-tertiary);
    transition: color 200ms;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: $spacing-1;
    border-radius: $radius-sm;

    cursor: pointer;

    transition:
      background-color 200ms,
      color 200ms;

    &:hover {
      color: var(--color-text-primary);
      background-color: var(--color-primary);
    }
  }
}
