@use '../styles/themes/index' as *;
@use '../styles/fonts/index' as *;
@use '../styles/utils/typography-mixins' as *;
@use '../styles/variables/spacing' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  transition:
    background-color 200ms,
    color 200ms;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

// Responsive heading classes
.main-heading {
  @include heading-1;
  margin-bottom: $spacing-7;
}

.main-description {
  @include body;
  line-height: 1.6;
  color: var(--color-text-secondary);
  margin-bottom: $spacing-6;
}
